<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container-xl px-lg-8 py-lg-4">
    <a class="navbar-brand me-6" href="index.html">
      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/logo.png?raw=true"
        alt="logo" class="nav-logo">
    </a>
    <div class="d-flex d-lg-none align-items-center">
      <i class="bi bi-bell px-1 px-lg-4 me-xl-2 me-xxl-4 fs-6 point"></i>
      <i class="bi bi-cart3 px-1 px-lg-4 me-xl-2 me-xxl-4 fs-6 point"></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse d-none d-block" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 me-6">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            探索
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex position-relative">
        <i class="bi bi-search position-absolute start-0 top-50 transy-50 mx-2"></i>
        <input class="form-control me-2 rounded-4 ps-7 border-gray-40" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程"
          aria-label="Search">
        <button class="btn btn-primary-100 rounded-3 position-absolute end-0 top-50 transy-50 me-5"
          type="submit">搜尋</button>
      </form>
    </div>
    <div class="d-none d-lg-flex">
      <i class="bi bi-bell px-4 me-xl-2 me-xxl-4 fs-6 point"></i>
      <i class="bi bi-cart3 px-4 me-xl-2 me-xxl-4 fs-6 point"></i>
    </div>
    <a href="mycourse.html" class="btn btn-xl-lg rounded-3 btn-primary-100 fs-7 fw-bold lp-2 d-none d-lg-block">登入 /
      註冊</a>
  </div>
</nav>